* {
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 150px;
}

img {
  height: 300px;
  width: auto;
}

.gift-info {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 25px;
  margin-bottom: 25px;
}

h3 {
  color: rgb(23, 67, 150);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

h4 {
  text-transform: capitalize;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

p {
  text-overflow: ellipsis;
  font-size: 1rem;
  width: 70%;
  margin-bottom: 30px;
}

.deadline {
  display: flex;
  column-gap: 15px;
}

.deadline-format {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 38, 88);
  height: auto;
  width: 50px;
  padding: 5px 5px 5px 5px;
}

.days {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: rgb(243, 239, 239);
}

span {
  font-size: 0.55rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(243, 239, 239);
}

.expired {
  font-weight: bold;
  letter-spacing: 2px;
  
}

@media (max-width: 600px) {
  section {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }

  
}